body{
	padding: 0;
	margin: 0;
	overflow-y: scroll;
	font-size: 18px;
	text-align: center;
	background-color: black;
	height: 100%;
}
header{
	height: 98px;
	background: gray;
	width:100%;
	z-index: 10;
	position: fixed;
	margin-top: 0px;
	top:0px;
}
#Title ul li{
	display: inline-block;
	color: #ccc;
	text-decoration: none;
	z-index:99;
}

#Title button {
    display: flex;
    flex-direction: row;
    float: right;
    z-index:99;

    background-color: royalblue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

#Title button:hover{
	background-color:black;
	transition: background-color .1s ease-in;
}

#Title ul li a,visited{
	color: black;
	display: block;
	text-decoration: none;
}
#T{
	font-size: 300%;
	
}
#r{
	font-size: 250%;
}
#a{
	font-size: 200%;
}
#c{
	font-size: 150%;
}
#k{
	font-size: 200%;
}
#M{
	font-size: 250%;
}
#e{
	font-size: 200%;
}
#Dark{
	height:0;
	margin: 0;
	margin-top:-20px;
	color:black;
}
#Nav{
	background-color: #222;
	margin:0px;
	margin-top:12px;
	border-top: solid 2px;
	border-bottom: solid 2px;
}
#Nav_Wrapper{
	width: 900px;
	margin: 0 auto;
}
#Nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
}
#Nav ul li{
	display: inline-block;
}
#Nav ul li:hover{
	background-color: #333;
}
#Nav ul li a,visited{
	color: #ccc;
	display: block;
	padding: 15px;
	text-decoration: none;
}
#Nav ul li a:hover{
	color: #ccc;
	text-decoration: none;
}
#Nav ul li:hover ul{
	display: block;
}
#Nav ul ul{
	display: none;
	position: absolute;
	background-color: #333;
	border: 5px solid #222;
	border-top: 0;
	margin-left: -5px;
	min-width: 150px;
}
#Nav ul ul li{
	display: block;
}
#Nav ul ul li a,visited{
	color: #ccc;
}
#Nav ul ul li a:hover{
	color: #899;
}
#Scrolling_Banner{
	width: 100%;
	height: 50%;
	position: fixed;
	top: 120px;
	border: solid 3px;
	background-image:url(Earth.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position: 50% 80%;
}
#Content{
	width: 100%;
	height: 700px;
	position: relative;
	top: 428px;
	margin: 0px;
}
#sect_sectOne{
	height: 70%;
	border-top: solid .5px;
	background-image:url(Haze.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% -20%;
}
#sect_sectTwo{
	height: 70%;
	background-image:url(city.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 50% 80%;
}
#sect_sectThree{
	height: 78%;
	background-image:url(hackers.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: 0% 0%;
}
#sub_sectionOne{
	height: 40%;
	border-top: solid .5px;
	background-image:url(DarkClouds.jpg);
	background-size: cover;
	background-position: 50% 35%;
}
#sub_sectionTwo{
	height: 40%;
	border-top: solid .5px;
	background-image:url(DarkSky1.jpg);
	background-size: cover;
	background-position: 50% 15%;
}
#div_Title{
	background-color: #222;
	margin:0px;
	margin-top:0px;
	border-top: solid .5px;
	border-bottom: solid 2px;
	color: #ccc;
	border-color:black;
}
#Description1{
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.45;
	border-color:black;
}
#Description2{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.45;
	border-color:black;
}
#Description3{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
	border-color:black;
}
#Facebook{
	
}
#Instagram{
	
}
#Twitter{
	
}
#Youtube{
	
}
#Description4{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.4;
	border-color:black;
}
#Description5{
	margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
	border-color:black;
}